<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.springboot12transaction.mapper.UserMapper">

    <insert id="save" parameterType="com.xxx.springboot12transaction.entity.User">
        insert into tb_user(user_name, age, create_time, update_time)
        values (#{userName}, #{age}, now(), now())
    </insert>

    <update id="updateById">
        update tb_user
        set user_name=#{userName},
            age=${age}
        where id = #{id}
    </update>

    <select id="getById" resultType="com.xxx.springboot12transaction.entity.User">
        select id, user_name, age, create_time, update_time
        from tb_user
        where id = #{id}
    </select>

    <select id="getAll" resultType="com.xxx.springboot12transaction.entity.User">
        select id, user_name, age, create_time, update_time
        from tb_user
    </select>

    <delete id="deleteById">
        delete
        from tb_user
        where id = #{id}
    </delete>
</mapper>